/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  height: 100%;
}

body {
  /* Margin bottom by footer height */
  height: 100%;
  background-color: #c7d0db;
}

main {
  height: 100%;
  overflow-y: hidden;
  background-color: #eceaea;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  background-color: rgb(68, 67, 67);
}

/* Graph related styles
-------------------------------------------------- */

.node {
  stroke: #222;
  stroke-width: 1.5px;
}

.node.resource {
  fill: #888;
}

.node.object {
  fill: #bbb;
}

#graph {
  width: 100%;
  margin-top: 60px;
  margin-bottom: 50px;
}

svg {
  background-color: rgb(255, 255, 255);
  border-color: #cccccc;
  border-style: solid;
  border-width: 1px;
}

.svg-container {
  display: inline-block;
  position: relative;
  width: 50%;
  padding-bottom: 100%; /* aspect ratio */
  vertical-align: middle;
}
.svg-content-responsive {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}
